body{margin: 0px; font-family: monospace; background-image: url(../images/coffeeBackground.jpg); background-position: center; background-size: inherit; background-repeat: no-repeat;}


#searchContainer{
    position: relative;
    top: 25vh;    
    /* transform: translateY(-50%); */
}
#brandTitle{
    color: white;
    text-align: center;
    font-size: 55px;
    margin: 0px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}
#search{
    display: block;
    margin: 0 auto;
    height: 42px;
    width: 355px;
    box-shadow: 0px 7px 3px 2px #0000008f;
    border: none;
    margin-top: 25px;
}


#starterBlocksContainer{
  display: none;
  position: absolute;
  margin: 0 auto;
  width: auto;
  left: 0;
  right: 0;
  bottom: -100px;
  margin-bottom: 20px;
  text-align: center;
}
#recomendTxt{
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
    font-family: monospace;
}
.card{
    display: block;
    float: left;
    margin: 20px 15px;
    min-height: 285px ;
    max-height: 285px;

}
.card-img-top{
    max-height: 190px;
}
.btn-dark{
    width: 200px;
}

a:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}
#display{
    display: none;
    background-color: white;
    height: auto;
    margin: 10px auto;
    width: 353px;
    padding: 10px 0px;
    position: absolute;
    left: 0;
    right: 0;
}
#errorTxt{
  display: none;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 15px;
}
ul{
  list-style: none;
  padding-inline-start:10px;
}

.resultContainer{
  width: 90%;
  height: 90%;
  padding: 0px;
}
#resultsContainer{
  margin-top: 15%;
}
.itemSelected{
  font-size: 40px;
  border-bottom: solid 4px #d6b168;
  position: absolute;
  left: 20px;
  top: 20px;
}
.itemCount{
  font-size: 19px;
  position: absolute;
  right: 20px;
  top: 52px;
}
#cardContainer{
  margin-top: 125px;
  padding: 0px 20px;
}
#exploreBttn{
  position: absolute;
  bottom: 20px;
}

.blueHash{color: #9292d6;}
.orangeHash{color: #d6b168;}
.redHash{color: red;}

@media(max-width:450px){
  #cardContainer{
    margin-top: 200px;
  }
  .card{
    float: none;
    margin: 20px auto;
  }
  .card-title{
    margin-bottom: 1.75rem !important;
  }
  .itemCount{
    text-align: center;
    top: 150px;
    right: 0;
    left: 0;
  }
}